$page-size: 100%;

html {
  height: $page-size;
  width: $page-size;
}

body {
  height: $page-size;
  width: $page-size;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #487077;
}

* {
  box-sizing: border-box;
}
